/* ---------------------------------------------------------------------------------------------------------- */
/* Mobile */

/* titulo formulario */
.titulo_form {
    background-color: var(--darkgreen);
    color: var(--white);
    text-align: center;
    padding: 5% 0;
}

.form_contato {
    
}



/* ---------------------------------------------------------------------------------------------------------- */

/* Desktop */
@media (min-width: 1024px){

/* titulo */
.titulo_contato {
    padding: 2%;
}

}