/* ---------------------------------------------------------------------------------------------------------- */
/* Mobile */

/* Foco */

.img_foco {
    width: 100%;
}
.desc_foco {    
    background-color: var(--darkgreen);
    text-align: center;
    padding-bottom: 10%;
}
.titulo_foco {
    color: var(--white);
    text-align: center;
}
.p_foco {
    color: var(--white);
    margin: 5%;
    text-align: justify;
}
.btn_foco {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 3%;
    border: 0px solid transparent;
    border-radius: 6px;
}
.btn_foco:hover {
    color: var(--white);
    background-color: var(--darkgreenhover);
    box-shadow: 0px 0px 10px var(--darkgreenhover);
    transition: 0.25s;
}

/* Outros Servicos */
.titulo_section {
    text-align: center;
    padding: 5%;
    font-size: 36pt;
    text-shadow: 0px 4px 4px #0000003f
}
.card_menu {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    margin: 5%;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgb(179, 177, 177);
    padding: 0%;
    width: 100%;
}
.img_card_servicos {
    margin: auto;
    width: 100%;
    border-radius: 10px;
}
.p_card_servicos {
    text-align: justify;
    padding: 5%;
}
.btn_card_servicos {
    width: 33%;
    margin: 5%;
    background-color: var(--darkblue);
    color: white;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 6px;
    padding: 3%;
    text-decoration: none;
}
.btn_card_servicos:active {
    background-color: var(--darkbluehover);
}


/* ---------------------------------------------------------------------------------------------------------- */

/* Desktop */
@media (min-width: 1024px){


/* Foco */

.foco {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.desc_foco {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 0%;
    width: 50%;
    background-color: var(--darkgreen);
    box-shadow: 10px 10px 20px rgba(47, 47, 47, 0.519);
    height: auto;
}
.img_foco {

    border-radius: 16px 16px 0px 0px;
}
.img_foco_carrossel{
    width: 50%;
    box-shadow: 0px 10px 20px rgba(47, 47, 47, 0.519);
    border-radius: 0px 16px 16px 0px;
}
.titulo_foco {
    margin: 2%;
    font-size: 24pt;
}
.p_foco {
text-align: left;
}
.btn_foco {
    width: 25%;
    padding: 2%;
    margin: 5%;
}

/* Outros Serviços */
.card_menu {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
.card {
    margin: auto;
    width: 40%;
    margin-bottom: 5%;
}
.img_card_servicos {
    width: 100%;
}

}