/* ---------------------------------------------------------------------------------------------------------- */
/* Mobile */

/* Nav Bar */
.logo_nav {
    width: 60%;
    margin: 5% 20%;
}
.nav_hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.nav_menu {
    display: block;
    text-align: center;
    padding-inline-start: 0px;
}
.nav_menu_card {
    list-style: none;
    padding: 3%;
    text-decoration: none;
    color: var(--black);
}
.header_desktop {
    display: none;
}

/* Nav menu mobile */
nav .drop-down {
    list-style: none; 
    overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
    height: 18em; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
            transition: height 0.3s ease;
}
nav .drop-down.closed {
    /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
        with overflow: hidden set on the ul will hide all list items apart from the first */
    /* current li height 38px + 5px border */
    height: 43px;
}
nav .drop-down li:hover {
    border-bottom: 5px solid #2c3e503a;
    transition: 0.25s;
}
nav .drop-down li a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px; /* Larger touch target area */
}
nav .drop-down li:first-child a:after {
    content: "\25BC";
    float: right;
    margin-left: 0px; /* Excessive -margin to bring link text back to center */
    margin-right: 5px;
}

/* ---------------------------------------------------------------------------------------------------------- */

/* Desktop */
@media (min-width: 1024px){

/* Nav Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_desktop{
    display: flex;
}
.header_mobile {
    display: none;
}
.link_img_logo {
    width: 22%;
    margin: auto;
    height: 5%;
}
.logo_nav {
    width: 90%;
    margin: auto;
    padding: 0%;
}
.nav_hidden {
    width: 60%;
    padding: 0%;
}
.nav_menu {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 80%;
}
.nav_menu_card {
    height: auto;
    padding: 0%;
    width: 80%;
    padding: 10% 0;
    margin: 0%;
}
.nav_menu_card:hover {
    color: var(--white);
    background-color: var(--darkblue);
    transition: 0.25s;
}
.nav_menu_card:active {
    background-color: var(--darkbluehover)
}
.nav_menu_card a {
    width: 10%;
    padding: 10%
}
.btn_menu {
    display: none;
}
}