/* ------------------------------------------------------- */
/* Mobile */

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
:root {
    --black: #000000;
    --white: #ffffff;
    --darkgreen: #09aa61;
    --darkgreenhover: #09894f;
    --darkblue: #213489;
    --darkbluehover: #1b2a6d;
}
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* carrossel Home */

.card_carrossel {
    width: 100%;
    height: 100%;
}
.slick-prev {
    left: 2px;
    z-index: 2;
}
.slick-next {
    right: 2px;
}

/* Quem Somos Home */
.titulo_section {
    text-align: center;
    padding: 5%;
    font-size: 36pt;
    text-shadow: 0px 4px 4px #0000003f
}
.p_quemSomos{
    text-align: justify;
    margin: 0 10%;
}
.img_quemSomos{
    width: 70%;
    margin: 10% 15%;
    border-radius: 16px;
}

/* Servicos Home */
/* ondas */
/* .custom-shape-divider-top-1714428199 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1714428199 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}*/
.custom-shape-divider-top-1714428199 .shape-fill {
    fill: #FFFFFF;
} 
.servicos_home {
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px rgb(179, 177, 177) ;
    border-radius: 0 0 16px 16px;
}
.titulo_section_servicos {
    text-align: center;
    color: var(--white);
    padding: 5%;
    font-size: 36pt;
    text-shadow: 0px 4px 4px #0000003f
}
.titulo_card_servicos_home {
    color: var(--white);
    text-align: center;
}
.img_card_servicos_home {
    margin: 8% 25%;
    width: 50%;
    /* border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.551); */
}
.p_card_servicos_ul_home {
    color: var(--white);
    margin: 4% 2%;
}
.card_verde {
    background-color: var(--darkgreen);
}
.btn_card_servicos_home {
    width: 33%;
    margin: 5% auto;
    background-color: var(--darkgreen);
    color: var(--white);
    text-align: center;
    border: 0px solid transparent;
    border-radius: 6px;
    padding: 3%;
    text-decoration: none;
}


/* --------------------------------------------------------------------------------------------------------------------- */
/*  Tablets */
@media (min-width: 768px){

}



/* ------------------------------------------------------------------------------------------------------------------------------------ */

/* Desktop */
@media (min-width: 1024px){

/* Carrossel */
.card_carrossel {
height: 100%;
}

/* Quem Somos */
.quemSomos {
    display: flex;
    padding: 0 0 8% 0;
}
.p_quemSomos {
    width: 30%;
    padding: 0%;
    margin: auto;
}
.img_quemSomos {
    width: 35%;
    margin: auto;
    padding: 0%;
    border-radius: 16px;
}

/* servicos */

.servicos_home {
    display: flex;
    flex-direction: column;
}
.card_servicos_home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5% auto;
}
.img_card_servicos_home {
    width: 20%;
    margin: 0 auto;
}

.card_verde {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    padding: 5%;
}

.img_card_verde {
    width: 25%;
}

.desc_card_servicos_home {
    width: 40%;
}
.titulo_card_servicos_home {
    text-align: left;
}

.btn_card_servicos_home {
    width: 20%;
    margin: 5% auto;
    background-color: var(--darkgreen);
    color: var(--white);
    text-align: center;
    border: 0px solid transparent;
    border-radius: 6px;
    padding: 2%;
    text-decoration: none;
}

}
